/** 
 * @file
 * Style sheet for IndexPage module.
 */

/*.indexpage_results .item-list ul li {
  list-style-type: none;
  background: transparent;
  margin-left: 0;
}*/

.indexpage_results .center {
  text-align: center;
}

.indexpage_results td {
  vertical-align: top;
}

.indexpage_term_list li {
  list-style-type: none !important;
  list-style-image: none !important;
  background: url() !important;
  margin: 0 0 0 1em;
}

.indexpage_category .description {
  font-style: italic;
  margin-left: 1em;
}

.indexpage-checkboxes label.option {
  width: 20%;
  float: left;
  font-weight: normal;
}

.indexpage-checkboxes .description {
  clear: both;
}

.indexpage-settings-link {
  margin-top: 2em;
  text-align: center;
}

#indexpage ul li {
  margin: .5em 2em;
}

.indexpage-letter-index {
  text-align: center;
}

.indexpage-letter-index p {
  font-style: italic;
}
